<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>글 내용</title>
    <script>
        $(document).ready(function () {
            $('#complete-modify-button').hide();
        })

        function deleteDetail() {
            $.ajax({
                async: true,
                type: 'POST',
                url: "delete/<%=list.id%>",
                dataType: 'json',
                data: {password: $('#insert_delete_password').val()},
                success: function(response) {
                    if (response['success']) {
                        location.href = '/';
                        alert(response['success']);
                    } else {
                        alert(response['fail']);
                    }
                }
            });
        }

        function toModify() {
            console.log('수정 버튼 동작중');
            $.ajax({
                async: true,
                type: 'POST',
                url: "modify/<%=list.id%>",
                dataType: 'json',
                data: {password: $('#insert_modify_password').val()},
                success: function(response) {
                    if(response['success']) {
                        alert(response['success'])
                        $('#wrote_contents').removeAttr('readonly');
                        $('#modify_button').hide();
                        $('#delete_button').hide();
                        $('#complete-modify-button').show();   
                    } else {
                        alert(response['fail'])
                    }
                }
            });
        }

        function modifyComplete() {
            console.log('수정완료 버튼 동작중');
            $.ajax({
                async: true,
                type: 'post',
                url: 'completeModify/<%=list.id%>',
                dataType: 'json',
                data: {contents: $('#wrote_contents').val()},
                success: function(response) {
                    alert(response['success']);
                    location.reload();
                }
            })
        }
    </script>
</head>

<body>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">제목</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
            placeholder="<%=list.title %>" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">작성자</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
            placeholder="<%=list.name%>" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">작성날짜</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
            placeholder="<%=list.createDate%>" readonly>
    </div>
    <textarea class="form-control" id="wrote_contents" rows="5" readonly><%=list.contents%></textarea>

    <!-- Button trigger modal(modify) -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modifyModal" id="modify_button">
        수정하기
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyModalLabel">비밀번호를 입력하세요</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="insert_modify_password" aria-describedby="basic-addon3">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
                    <button type="button" class="btn btn-primary" onclick="toModify()">수정하기</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal(delete) -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" id="delete_button">
        삭제하기
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">비밀번호를 입력하세요</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="insert_delete_password" aria-describedby="basic-addon3">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
                    <button type="button" class="btn btn-primary" onclick="deleteDetail()">삭제하기</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="complete-modify-button" onclick="modifyComplete()">수정완료하기</button>
</body>

</html>